-gallery_images = ["club-sandwich.jpg","papas.jpg","hamburger.jpg","panini.jpg","club-sandwich.jpg","papas.jpg"]
!!!5
%html{class:"no-js", lang:"es"}
    %head
        %meta{charset:"utf-8"}
        %title La mejor comida en Restaurante Chucks!
        %meta{name:"description", content:"Come rico en el mejor restaurante de la ciudad, servicio de primera."}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
        %meta{:"data-name" => "image-counter", content:"#{gallery_images.size-1}"}
        %link{rel:"stylesheet", href:"css/normalize.css"}
        %link{rel:"stylesheet", href:"css/bootstrap.css"}
        %link{rel:"stylesheet", href:"css/flexboxgrid.css"}
        %link{rel:"stylesheet", href:"css/leaflet.css"}
        %link{rel:"stylesheet", href:"css/leaflet-routing-machine.css"}
        %link{rel:"stylesheet", href:"css/jquery.background-video.css"}
        %link{rel:"stylesheet", href:"css/style.css"}
        %script{src:"js/vendor/modernizr-3.6.0.min.js"}
    %body
        ="<!--[if lt IE 9]>"
        %p{class:"browserupgrade"}
            Estás usando un navegador
            %strong desactualizado.
            Por favor
            %a{href:"http://browsehappy.com/"}
                actualiza tu navegador
            para una mejor experiencia
        ="<![endif]-->"
        .video-container.element-with-video-bg.jquery-background-video-wrapper
            %video.my-background-video.jquery-background-video{autoplay:true, muted:true, poster:"videos/images/out-camping.jpg", loop:true}
                %source{src:"videos/mp4/out-camping.mp4",type:"video/mp4"}
                %source{src:"videos/webm/out-camping.webm",type:"video/webm"}
        .row.full-height.middle-xs.center-xs.relative.up#home
            .col-xs-12
                .box.white-text
                    %img{src:"imgs/logo.png", width:180}
                    %h1.dancing-script.title.no-margin Restaurante Chucks
                    %p#is-open.white-text.medium
                        %i.glyphicon.glyphicon-time
                        %span.text Abierto Ahora
            %nav.fixed.top.right.navigation.white-text#navigation
                -menu = [{title:"Home", link:"#home"},{title:"Menu", link:"#menu"},{title:"Galeria", link:"#gallery"},{title:"Contacto", link:"#contact"},{title:"Como llegar", link:"#location"},]
                %ul.list-inline
                    -menu.each do |item|
                        %li
                            %a{href:item[:link]}= item[:title]
            .absolute.black.large-padding.white-text.full-width#description                
                .row.middle-xs.center-xs
                    .col-xs7.col-md-6.white-text.medium
                        Atencion calida y comida preparada por especialistas
                    .col-xs.hidden#sticky-navigation
                        .box
                            %nav.text-right.navigation#responsive-nav
                                %i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle.glyphicon.glyphicon-remove#menu-opener
                                %ul.list-inline
                                    -menu.each do |item|
                                        %li
                                            %a.menu-link{href:item[:link]}= item[:title]
        .text-center.relative#menu
            .absolute.white#menu-title
                %h2.dancing-script.title Menu
                -menu_photos = [{title: "Club Sandwich", pricing: "10.00",image:"club-sandwich"},{title: "Combo hamburguesa", pricing: "50.00",image:"combo"},{title: "Hamburguesa", pricing: "20.00",image:"hamburger"},{title: "Hot cakes", pricing: "30.00",image:"hot-cakes"},{title: "Panini", pricing: "15.00",image:"panini"},{title: "Papas", pricing: "10.00",image:"papas"},{title: "Club Sandwich", pricing: "10.00",image:"club-sandwich"},{title: "Hamburguesa", pricing: "20.00",image:"hamburger"}]
            .row
                -menu_photos.each do |photo|
                    .col-md-6.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(imgs/food/#{photo[:image]}-thumb.jpg)"}
                        .screen
                            .row.middle-xs.full-height
                                .col-xs-12
                                    %h3.dancing-script.white-text.text-center.subtitle= photo[:title]
                                    %p.no-margin.white-text.text-center.medium= "L." + photo[:pricing]
        #gallery
            .inner
                -gallery_images.each do |image|
                    .image{style:"background-image:url(imgs/food/#{image})"}
        .container
            .card.white.black-text.text-center.relative
                %h3.medium.slim
                    En
                    %strong.dancing-script.medium Restaurante Chucks
                    cocinar no es una profesion, no es una tecnica, es un
                    %strong.dancing-script.medium arte
                %p.top-space Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore aspernatur quod doloribus natus ut pariatur iste laborum, numquam rerum asperiores, id architecto? Modi consectetur, corrupti quod alias eos voluptates? Nemo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum vitae perspiciatis placeat commodi odit quo maiores error. Temporibus officiis vel fugit ex unde. Vero repellendus magni aperiam est in tenetur! Lorem ipsum dolor sit amet consectetur adipisicing elit.                
                %strong.dancing-script.medium - Rick - Chef
                .large-padding.medium.black.white-text.text-center Tambien puedes acceder a este sitio sin conexion a internet
        .black.white-text.full-height#contact
            .row.middle-xs.full-height
                .col-xs-12
                    .box
                        %p.text-center.medium2#info-contacto Presiona enter para llenar el campo correspondiente y enviarnos un correo
                        %form{action:"",method:"POST",id:"contact-form",class:"step-form"}                            
                            .row.center-xs
                                .col-xs-12.col-sm-2.col-md-1.first-sm
                                    .box
                                        -3.times do |i|
                                            -if i == 0
                                                .path-step.active
                                            -else
                                                .path-step
                                .col-xs-12.col-sm-3.first-xs
                                    .box
                                        %fieldset.step.active
                                            %input{type:"email",name:"email",placeholder:"Tu Correo electronico",class:"input", required:true}
                                        %fieldset.step
                                            %input{type:"text",name:"name",placeholder:"Tu Nombre",class:"input", required:true}
                                        %fieldset.step
                                            %textarea{name:"body",placeholder:"Tu Mensaje ...",class:"input", required:true}
                                        -# %div
                                        -#     %button{type:"submit",class:"btn"} Enviar
        #location
            #map
            #message.black.large-padding.white-text.text-center.medium
        // First try loading jQuery CDN
        %script{src:"https://code.jquery.com/jquery-3.3.1.js",
        integrity:"sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=",
        crossorigin:"anonymous"}
        // Fall back to a local copy of jQuery if the CDN fails
        %script 
            window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
        %script{src:"js/vendor/leaflet.js"}
        %script{src:"js/vendor/leaflet-routing-machine.js"}
        %script{src:"js/vendor/jquery.background-video.js"}
        %script{src:"dist/form_object.js"}
        %script{src:"dist/steps.js"}
        %script{src:"dist/maps.js"}
        %script{src:"dist/main.js"}